
// 文本颜色
$txt-primary = #666 //默认颜色
$txt-act = #5a3a23; //激活颜色
$txt-input = #676363; //input
$txt-placeholder = #808080; //input-placeholder
$txt-disable = #c0c0c0; //按钮禁用
$txt-error = #dd534d; //警告

// 背景以及背景阴影颜色
$bg-body = #ffffff; //主体
$bg-btn = linear-gradient(to right, #988f90, #5a5053); //按钮背景
$bg-header = linear-gradient(to right, #988f90, #5a5053); //顶部导航栏
$bg-footer = linear-gradient(to right, #988f90, #5a5053); //底部导航栏
$bg-dialog = rgba(0,0,0,.3); //遮罩层
$bg-lazyimg = #f2f2f2; //图片

// 边框阴影颜色
$box-shadow = 0 2px 4px rgba(0,0,0,.1);

// 下划线
$border = #ece8e8;

// absolute()
absolute()
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

// fixed()
fixed()
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    
// before
before()
    content ''
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    
// after
after()
    content ''
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

// justify
flexColumn()
    display: flex;
    flex-direction: column;
    justify-content: center;
flexSpace()
    display: flex;
    justify-content: space-around;
    align-items: center;
flexCenter()
    display: flex;
    justify-content: center;
    align-items: center;

// 不换行(省略号)
ellipsis()
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;